<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
	<header th:replace="layout :: header"></header>
	
	<div class="container main-container">
		<div class="jumbotron jumbotron-fluid animated fadeIn fast">
		  <div class="container">
		    <h1 class="display-4">Sobre Comic App</h1>
		    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, magni! Velit molestias saepe, cupiditate earum sequi sint eos pariatur voluptas exercitationem beatae nulla provident, vel est non. Quia, sit fugiat!</p>
		  </div>
		</div>
	</div>
	
	<footer th:replace="layout :: footer"></footer>
</body>
</html>